:root {
  --bg-light: #f5f5f5;
  --panel-light: white;
  --accent-primary: #000;
  --accent-secondary: #333;
  --accent-danger: #e2001a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg-light);
  color: var(--accent-secondary);
}

